@import '../../constants/colors.scss';

.patientInfo {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  background-color: $lightColor;
  margin-right: 15px;
  min-width: 300px;
  border: 1px solid $baseColor;
}

.patientInfo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  height: 40px;
  background-color: $baseColor;
  color: $lightColor;
  font-size: 14px;
}

.resizeButton {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
}

.resizeButton__icon {
  display: block;
  width: 13px;
  height: 13px;
  background: url("../../assets/img/icons/back.svg") center no-repeat;
  background-size: cover;
}

.patientInfo-body {
  padding: 10px;
}

.infoItem {
  display: flex;
  min-height: 20px;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  &__name {
    margin-right: 5px;
  }

  &__value {
    min-width: 200px;
    border-bottom: 1px solid $borderColor;
  }
}