@import '../../constants/colors.scss';

.patientInfo {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  background-color: $lightColor;
  margin-right: 15px;
  min-width: 300px;
  border: 1px solid $baseColor;
  overflow: hidden;
  transition: all 0.3s ease-in-out;

  &._collapse {
    min-width: 40px;
    flex: 0 0;
    transition: all 0.3s ease-in-out;

    &>.patientInfo-header {
      padding-left: 0;

      &>.patientInfo__title {
        display: none;
      }

      &>.resizeButton>.resizeButton__icon {
        transform: rotate(180deg);
        transition: all 0.2s ease-in-out;
      }
    }

    &>.patientInfo-body {
      display: none;
    }
  }
}

.patientInfo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  height: 40px;
  background-color: $baseColor;
  color: $lightColor;
  font-size: 14px;
}

.patientInfo__title {
  white-space: nowrap;
}

.resizeButton {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;

  &:active {
    opacity: 0.8;
  }
}

.resizeButton__icon {
  display: block;
  width: 13px;
  height: 13px;
  background: url("../../assets/img/icons/back.svg") center no-repeat;
  background-size: cover;
  transform: rotate(0deg);
  transition: all 0.2s ease-in-out;
}

.patientInfo-body {
  padding: 10px;
  transition: all 0.3s ease-in-out;
  transition-delay: 0.3s;
}

.infoItem {
  display: flex;
  min-height: 20px;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  &__name {
    margin-right: 5px;
  }

  &__value {
    min-width: 200px;
    border-bottom: 1px solid $borderColor;
  }
}