@import '../../constants/colors.scss';

.patients-table {
  overflow-y: auto;
}

.table {
  border-collapse: collapse;
}

.table-header {
  color: $grayTextColor;
}

.table-body {
  overflow-y: auto;
}

tr {
  height: 30px;
}

.row_active {
  pointer-events: none;
  background-color: $grayColor3;
  border-left: 5px solid $baseColor;
}

th {
  padding: 0 5px;
  width: 2%;
  text-align: left;
  font-weight: 400;
  border-bottom: 1px solid $borderColor;
}

td {
  cursor: pointer;
  padding: 0 5px;
  border-bottom: 1px solid $borderColor;
}