@import 'constants/colors.scss';

html {
  font-size: 12px;
  color: $darkColor;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div,
button {
  box-sizing: border-box;
}

button {
  outline: none;

  &:hover {
    cursor: pointer;
  }
}